# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Visual Studio related files
*.suo
*.user
*.sln.DotSettings
*.suo.meta
*.userprefs
*.cache
*.njsproj
.suo
obj/
bin/
**/*.Designer.cs
**/*.resx
**/*.tt
**/*.ttinclude
.vs/

# Build related files
*.pdb
*.xml
*.manifest
*.config
*.deploy
*.nupkg
*.symbols

# Logging files
*.log
*.txt

# Test related files
**/TestResults/*
**/coverage.xml
**/bin/*

# Environment file(s) that should NOT be checked in.
.env 

# IDE specific files
.idea/
*.suo
*.user
*.sln.DotSettings
*.suo.meta
*.userprefs
*.cache
*.njsproj

# Package related files
packages.config
packages/
