# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# no data files
database/backup.sql
**/*.dat
**/*.sql
**/*.psql
**/*.pgsql

# DO NOT check in ANYTHING in the .venv folder(s)
**/venv/
**/.venv/

# Node
/node_modules
npm-debug.log
yarn-error.log

# Environment files
.env
./backend/trackerApi/.env
!.env.example
!./backend/trackerApi/.env

**/set-env-vars.*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
**/*.lnk

# System files
.DS_Store
Thumbs.db

# Visual Studio related files
*.suo
*.user
*.sln.DotSettings
*.suo.meta
*.userprefs
*.cache
*.njsproj
.suo
**/*.Designer.cs
**/*.resx
**/*.tt
**/*.ttinclude
.vs/

# Build related files
*.pdb
*.xml
*.manifest

# Ignore configs but not Postman [backup] files
*.config
!*.postman*.json

*.deploy
*.nupkg
*.symbols
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Logging files
**/logs/
*.log

# Ignore all .txt files
*.txt
# But allow README.txt files in any directory
!README.txt
!readme.txt

# Test related files
**/TestResults/*
**/coverage.xml
**/bin/*

# IDE specific files
.idea/
*.suo
*.user
*.sln.DotSettings
*.suo.meta
*.userprefs
*.cache
*.njsproj

# Package related files
packages.config
packages/
