services:
  angular-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/workspace/frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
    networks:
      - app-network
    command: /bin/sh -c "while sleep 1000; do :; done"

  backend:
    build:
      context: ./backend/trackerApi
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - database
    networks:
      - app-network

  database:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-yourpassword}
      POSTGRES_DB: ${POSTGRES_DB:-BETrackingDb}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
