services:
  nginx:
    container_name: nginx
    profiles: ["nginx", "production"]
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  angular-dev:
    container_name: frontend
    profiles: ["frontend", "development"]
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/workspace/frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
    networks:
      - app-network
    command: /bin/sh -c "while sleep 1000; do :; done"

  backend:
    container_name: backend
    profiles: ["backend", "development", "production"]
    build:
      context: ./backend/trackerApi
      dockerfile: Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:5000
    ports:
      - "8080:80"
      - "5000:5000"  # For nginx to connect to backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
