<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" formControlName="username">
    @if (isUsernameDirtyAndHasErrors()) {
    <div class="error">
      @if (isUsernameRequired()) {
        <p>Username is required</p>
      }
    </div>
    }
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" formControlName="password">
    @if (isPasswordDirtyAndHasErrors()) {
      <div class="error">
        <p>Password is required</p>
      </div>
    }
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
