<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        @if (errorMessage) {
        <div class="alert alert-danger">
          {{ errorMessage }}
        </div>
        }

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" formControlName="username" autocomplete="username" required>
          @if (isUsernameDirtyAndHasErrors()) {
          <div class="error">
            @if (isUsernameRequired()) {
            <p>Username is required</p>
            }
          </div>
          }
        </div>
        <div class="form-group mt-4">
          <label for="password">Password:</label>
          <input type="password" class="form-control" formControlName="password" autocomplete="current-password"
            required>
          @if (isPasswordDirtyAndHasErrors()) {
          <div class="error">
            <p>Password is required</p>
          </div>
          }
        </div>

        <!-- <button type="submit" [disabled]="!loginForm.valid">Login</button> -->
        <button type="submit" [disabled]="!loginForm.valid || isLoading" class="btn btn-primary mt-4">
          @if (isLoading) {
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
          } @else {
          Login
          }
        </button>
      </form>
    </div>
  </div>
</div>