
<h2>Entries Data (Last 2 Days)</h2>

<button class="btn btn-primary" routerLink="/survey">Create an Event</button>
<button class="btn btn-secondary ms-2" routerLink="/debug">Debug Info</button>

<hr>
<app-dashboard-totals></app-dashboard-totals>
<hr>

<h2>Event Logs:</h2>
@if (trackingLogs$ | async; as logs) {
  @if (logs.length > 0) {
    <table>
      <thead>
        <tr>
          <th class="col-sm-3 col-md-2 col-lg-1">Event Date</th>
          <th class="col-sm-3 col-md-2 col-lg-1">Urgency</th>
          <th class="col-sm-3 col-md-2 col-lg-1">Pain Level</th>
          <th class="col-sm-8 col-md-8 col-lg-6">Notes</th>
        </tr>
      </thead>
      <tbody>
        @for (log of logs; track log.id) {
          <tr>
            <td>
              <a [routerLink]="['/tracking-log-detail', log.id]">
                {{ log.eventDate | date:'short' }}
              </a>
            </td>
            <td>{{ log.urgency }}</td>
            <td>{{ log.painLevel }}</td>
            <td>{{ log.notes || 'None' }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No Records Found, or no records within the last two days.</p>
  }
} @else {
  <p>Loading...</p>
}
